
.btn {
    font-size: 16px;
    font-weight: 400;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	box-shadow: 5px 10px 10px rgba(87, 138, 196, 0.5);
	border-radius: 5px;
	padding: 5px;
    text-decoration: none;
    width: 200px;
}

.timer-container, .date-container {
    margin-bottom: 40px;
}

.invisible {
    display: none;
}

#rezult, span {
    color: #f00; 
    font-size: 120%; 
    font-weight: bold;
}



.timer{
    font-size: 0;
    text-align: center;
}
.timer_section{
    display: inline-block;
    vertical-align: top;
}
.timer_section > div{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    background: #4dadf7;
    color: #ffffff;
    line-height: 70px;
    width: 55px;
    margin: 0 1px;
    border-radius: 2px;
}
.timer_section > div.timer_section_desc{
    display: block;
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    width: auto;
    margin: 0;
}
.timer_delimetr{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    line-height: 70px;
    margin: 0 5px;
}
@media (max-width: 767px){
    .timer_section > div{
        font-size: 30px;
        width: 30px;
        line-height: 40px;
    }
    .timer_delimetr{
        line-height: 40px;
        font-size: 30px;
    }
    .timer_section > div.timer_section_desc{
        font-size: 14px;
        line-height: 26px;
    }
}